<footer id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
				<div class="inner">
					<section class="copyright">
						All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. Free Ghost Theme<br />Powered by <a href="http://getbootstrap.com/">Bootstrap 3 Framework</a>
					</section>
					<section class="poweredby">Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
				</div>
			</div>
		</div>
	</div>
</footer>