<div id="at_mainbody" class="at_post" role="main">
    <div class="row">
        <div class="large-12 columns">
            {{#post}}
            <div class="at_block">
                <article class="{{post_class}}">
                    <section class="at_post_content">
                        {{content}}
                    </section>
                </article>
            </div>
            {{/post}}
        </div>
    </div>
</div>